---
import Features from '../components/Features.astro';
import Package from '../components/Package.astro';
import Waves from '../components/Waves.astro';
import Welcome from '../components/Welcome.astro';
import WhatsAppCarrot from '../components/WhatsAppCarrot.astro';
import Layout from '../layouts/Layout.astro';
import ExcitingVideos from '../components/ExcitingVideos.astro';
import Music from '../components/Music.astro';
import Questions from '../components/Questions.astro';
import ButtonWhatsApp from '../components/ButtonWhatsApp.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>	
	
	<Welcome/>
	<div class="px-4 md:px-6 lg:px-8">
		<Features/>
		<WhatsAppCarrot/>
		<Package/>
		<ExcitingVideos />
	</div>
	<Music/>
	<Questions/>

	
	<ButtonWhatsApp
</Layout>
