---
const messages = [
  "Regala Emoción | 40% De Descuento Oferta Limitada",
  "¡Últimos Cupos Disponibles!",
  "Entrega de 24 a 48h - ¡Haz Tu Pedido Ya!",
];
---

<div class="relative overflow-hidden bg-[#00343d] text-white py-2">
  <div class="flex">
    <div class="marquee-content flex shrink-0 animate-marquee">
      {
        messages.map((msg) => (
          <span class="text-sm font-semibold whitespace-nowrap mx-5">
            {msg} •
          </span>
        ))
      }
    </div>
    <div
      class="marquee-content flex shrink-0 animate-marquee"
      aria-hidden="true"
    >
      {
        messages.map((msg) => (
          <span class="text-sm font-semibold whitespace-nowrap mx-5">
            {msg} •
          </span>
        ))
      }
    </div>
    <div
      class="marquee-content flex shrink-0 animate-marquee"
      aria-hidden="true"
    >
      {
        messages.map((msg) => (
          <span class="text-sm font-semibold whitespace-nowrap mx-5">
            {msg} •
          </span>
        ))
      }
    </div>
    <div
      class="marquee-content flex shrink-0 animate-marquee"
      aria-hidden="true"
    >
      {
        messages.map((msg) => (
          <span class="text-sm font-semibold whitespace-nowrap mx-5">
            {msg} •
          </span>
        ))
      }
    </div>
  </div>
</div>

<style>
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  
</style>
