---
import Waves from "./Waves.astro";
---

<Waves />
<footer class="bg-[#083335] text-gray-400 py-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <!-- Enlaces -->
        <div class="flex flex-wrap justify-center space-x-6 mb-4 mt-5 md:gap-y-0">
            <a href="/privacyPolicy" class="hover:underline"
                >Política De Privacidad</a
            >
            <a href="/shippingPolicy" class="hover:underline"
                >Política De Envíos</a
            >
            <a href="/refundPolicy" class="hover:underline"
                >Política De Reembolso</a
            >
            <a href="/termsOfService" class="hover:underline"
                >Términos y Condiciones</a
            >
        </div>

        <!-- Info contacto -->
        <a href="/contactInformation"class="hover:underline mb-4">Información de Contacto</p>
    </div>

    <div>
        <hr class="border-gray-800 my-4 w-full" />
        <p class="text-xs px-20 py-2 text-white/60">© 2026, Letra Viva.</p>
    </div>
</footer>