<nav class="fixed top-0 left-0 w-full bg-white shadow z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-18">
            <div class="flex flex-shrink-0 flex-row gap-10">
                <a
                    href="/"
                    class="header__heading-link link link--text focus-inset"
                >
                    <div class="header__heading-logo-wrapper">
                        <img
                            src="//letravivaoficial.com/cdn/shop/files/LOGO_RECORTADO_SHOPIFY_02f1e371-0d7c-41b0-9ae4-d5709067481a.png?v=1753490877&width=600"
                            alt="Letra Viva"
                            srcset="//letravivaoficial.com/cdn/shop/files/LOGO_RECORTADO_SHOPIFY_02f1e371-0d7c-41b0-9ae4-d5709067481a.png?v=1753490877&width=180 180w, //letravivaoficial.com/cdn/shop/files/LOGO_RECORTADO_SHOPIFY_02f1e371-0d7c-41b0-9ae4-d5709067481a.png?v=1753490877&width=270 270w, //letravivaoficial.com/cdn/shop/files/LOGO_RECORTADO_SHOPIFY_02f1e371-0d7c-41b0-9ae4-d5709067481a.png?v=1753490877&width=360 360w"
                            width="180"
                            height="69.49640287769785"
                            loading="eager"
                            class="h-16"
                            sizes="(max-width: 360px) 50vw, 180px"
                        />
                    </div>
                </a>

                <div class="hidden md:flex space-x-8 items-center">
                    <a
                        href="#"
                        class="px-2 py-0.5 rounded-md font-medium bg-[#BFD4C6] text-white text-md"
                        >Inicio</a
                    >
                    <a
                        href="#"
                        class="px-3 py-2 rounded-md text-gray-700 hover:text-green-600"
                        >Crea Tu Canción Personalizada</a
                    >
                    <a
                        href="#"
                        class="px-3 py-2 rounded-md text-gray-700 hover:text-green-600"
                        >Contáctanos</a
                    >
                </div>
            </div>

            <!-- Iconos -->
            <div class="flex items-center space-x-4 gap-2">
                <svg
                    class="text-gray-600"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="m18,10c0-4.41-3.59-8-8-8S2,5.59,2,10s3.59,8,8,8c1.85,0,3.54-.63,4.9-1.69l5.1,5.1,1.41-1.41-5.1-5.1c1.05-1.36,1.69-3.05,1.69-4.9Zm-14,0c0-3.31,2.69-6,6-6s6,2.69,6,6-2.69,6-6,6-6-2.69-6-6Z"
                    ></path>
                </svg>
                <svg
                    class="text-gray-600"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5m0-8c1.65 0 3 1.35 3 3s-1.35 3-3 3-3-1.35-3-3 1.35-3 3-3M4 22h16c.55 0 1-.45 1-1v-1c0-3.86-3.14-7-7-7h-4c-3.86 0-7 3.14-7 7v1c0 .55.45 1 1 1m6-7h4c2.76 0 5 2.24 5 5H5c0-2.76 2.24-5 5-5"
                    ></path>
                </svg>
                <svg
                    class="text-gray-600"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="m16,6.09v-1.59c0-1.38-1.12-2.5-2.5-2.5h-3c-1.38,0-2.5,1.12-2.5,2.5v1.59c-2.83.48-5,2.94-5,5.91v8c0,1.1.9,2,2,2h14c1.1,0,2-.9,2-2v-8c0-2.97-2.17-5.43-5-5.91Zm-6-1.59c0-.28.22-.5.5-.5h3c.28,0,.5.22.5.5v1.5h-4v-1.5Zm-1,15.5v-2h6v2h-6Zm6-4h-6v-2h6v2Zm2,4v-6c0-1.1-.9-2-2-2h-6c-1.1,0-2,.9-2,2v6h-2v-8c0-2.21,1.79-4,4-4h6c2.21,0,4,1.79,4,4v8s-2,0-2,0Z"
                    ></path>
                </svg>
            </div>
        </div>
    </div>
</nav>
