<div id="shopify-section-template--19375417524373__section_divider_3gyr6g" class="shopify-section">
  <style data-shopify="" is:global>
    .section-divider-template--19375417524373__section_divider_3gyr6g {
      transform: scaleX(1) scaleY(1);
    }
    .section-template--19375417524373__section_divider_3gyr6g-top-padding {
      height: 0px;
    }
    .section-template--19375417524373__section_divider_3gyr6g-bottom-padding {
      height: 0px;
    }
    @media screen and (min-width: 750px) {
      .section-template--19375417524373__section_divider_3gyr6g-top-padding {
        height: 0px;
      }
      .section-template--19375417524373__section_divider_3gyr6g-bottom-padding {
        height: 0px;
      }
    }
  </style>

  <style>
    .section-divider svg {
      color: #083335;
    }
    .section-divider {
      position: relative;
    }
    .section-divider::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: calc(100% - 1px);
      top: -1px;
      z-index: -1;
      width: 100%;
    }
    .section-divider__svg {
      --max-height: 150px;
      background: none;
      position: relative;
      overflow: hidden;
      transform: translateY(1px);
    }
    .section-divider__svg svg {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      max-height: var(--max-height);
    }
    .waves-animated-1 {
      --max-height: 3rem;
      margin: 0;
    }
    .parallax1 > use {
      animation: move-forever1 10s linear infinite;
    }
    .parallax2 > use {
      animation: move-forever2 8s linear infinite;
      opacity: 0.4;
    }
    .parallax3 > use {
      animation: move-forever3 6s linear infinite;
      opacity: 0.3;
    }
    .parallax4 > use {
      animation: move-forever4 4s linear infinite;
      opacity: 0.2;
    }
    @keyframes move-forever1 {
      0% {
        transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
      }
    }
    @keyframes move-forever2 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever3 {
      0% {
        transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
      }
    }
    @keyframes move-forever4 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
    @media screen and (min-width: 1000px) {
      .waves-animated-1 {
        --max-height: 6rem;
      }
    }
  </style>

  <div
    class="section-template--19375417524373__section_divider_3gyr6g-top-padding color-#ffffff"
  >
    &nbsp;
  </div>
  <div
    class="section-divider section-divider-template--19375417524373__section_divider_3gyr6g"
   
  >
    <div class="section-divider__svg color-#083335">
      <svg
        class="waves-animated-1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0
                58-18 88-18s
                58 18 88 18
                58-18 88-18
                58 18 88 18
                v44h-352z"
          ></path>
        </defs>
        <g class="parallax1">
          <use xlink:href="#gentle-wave" x="50" y="3" fill="currentColor"></use>
        </g>
        <g class="parallax2">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="currentColor"></use>
        </g>
        <g class="parallax3">
          <use xlink:href="#gentle-wave" x="50" y="9" fill="currentColor"></use>
        </g>
        <g class="parallax4">
          <use xlink:href="#gentle-wave" x="50" y="6" fill="currentColor"></use>
        </g>
      </svg>
    </div>
  </div>
  <div
    class="section-template--19375417524373__section_divider_3gyr6g-bottom-padding color-#083335"
  >
    &nbsp;
  </div>
</div>
