---
import Waves from "./waves.astro";
---

<div>
	<div class="flex justify-center items-center min-h-screen bg-gray-100">
		<img
			src="//letravivaoficial.com/cdn/shop/files/PAGINA_DE_INICIO.png?v=1753674589&width=3840"
			alt="Letra Viva"
			class="w-[120%] h-auto object-contain mx-auto"
		/>
	</div>
	<Waves />	
</div>
