---
import SpeedInsights from "@vercel/speed-insights/astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "@/components/Footer.astro";



---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logopeque.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Letra Viva</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap"
		/>
	</head>
	<body>
		<Navbar/>
		<div>
			<slot />
		</div>
		<SpeedInsights />
		<Footer/>
		</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
